
GoodsteinScala/.DS_Store

Goodstein/.DS_Store

Goodstein/src/.DS_Store

Goodstein/src/com/.DS_Store

Goodstein/src/com/priorsoftware/.DS_Store

.DS_Store

GoodsteinScala/.metadata/.lock

GoodsteinScala/.metadata/.log

*.zip

*.version

*.index

*.tree

GoodsteinScala/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources

*.prefs

*.csv

GoodsteinScala/.metadata/.plugins/org.eclipse.epp.usagedata.recording/.org.eclipse.epp.usagedata.recording.workspaceId

GoodsteinScala/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt

GoodsteinScala/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache

GoodsteinScala/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat

*.xml

GoodsteinScala/.metadata/version.ini
